<form class="form-horizontal" id="payment">
    <fieldset>
        <legend>{{ text_credit_card }}</legend>
        {% if cards %}
        {# Show saved cards #}
        <div class="radio">
            <label><input type="radio" name="cc_from" value="existing" checked="checked">{{ text_existing }} <a href="{{ manage }}" target="_blank">{{ text_manage }}</a></label>
            <div id="cc-existing">
                <select class="form-control" name="cc_id" id="input-cc-id">
                    {% for card in cards %}
                        <option value="{{ card.id }}">{{ card.text }}</option>    
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="radio">
            <label><input type="radio" name="cc_from" value="new">{{ text_new }}</label>
        </div>
        {% else %}
        <input type="hidden" name="cc_from" value="new">
        {% endif %}
        <div id="cc-new" style="display:{% if cards %}none{% else %}block{% endif %};">
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-cc-owner">{{ entry_cc_owner }}</label>
                <div class="col-sm-10">
                    <input type="text" name="cc_owner" value="{{ cc_name }}" placeholder="{{ entry_cc_owner }}" id="input-cc-owner" class="form-control"/>
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-cc-address">{{ entry_cc_address }}</label>
                <div class="col-sm-10">
                    <input type="text" name="cc_address" value="{{ cc_address }}" placeholder="{{ entry_cc_address }}" id="input-cc-address" class="form-control"/>
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-cc-zip">{{ entry_cc_zip }}</label>
                <div class="col-sm-10">
                    <input type="text" name="cc_zip" value="{{ cc_zip }}" placeholder="{{ entry_cc_zip }}" id="input-cc-zip" class="form-control"/>
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-cc-number">{{ entry_cc_number }}</label>
                <div class="col-sm-10">
                    <iframe data-ifields-id="card-number" data-ifields-placeholder="Card Number" frameborder="0" height="34" src="https://cdn.cardknox.com/ifields/2.5.1905.0801/ifield.htm" width="100%"></iframe>
                    <input data-ifields-id="card-number-token" name="xCardNum" type="hidden"/>
                    <br/>
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-cc-expire-date">{{ entry_cc_expire_date }}</label>
                <div class="col-sm-3">
                    <select class="form-control" id="input-cc-expire-date" name="cc_expire_date_month">

                        {% for month in months %}

                            <option value="{{ month.value }}">{{ month.text }}</option>

                        {% endfor %}

                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="cc_expire_date_year">

                        {% for year in year_expire %}

                            <option value="{{ year.value }}">{{ year.text }}</option>

                        {% endfor %}

                    </select>
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-cc-cvv2">{{ entry_cc_cvv2 }}</label>
                <div class="col-sm-10">
                    <iframe data-ifields-id="cvv" data-ifields-placeholder="CVV" frameborder="0" height="34" src="https://cdn.cardknox.com/ifields/2.5.1905.0801/ifield.htm" width="100%"></iframe>
                    <input data-ifields-id="cvv-token" name="xCVV" type="hidden"/>
                    <label data-ifields-id="card-data-error" id="ifieldsError"></label>
                </div>
            </div>
            {% if card_save_option %}
            <div class="form-group">
              <div class="col-sm-10">
                <label class="checkbox-inline" for="input-cc-save">
                    <input type="checkbox" name="cc_save" value="1" id="input-cc-save" {% if card_save %}checked="checked"{% endif %} />
                    {{ entry_cc_save }}
                </label>
              </div>
            </div>
            {% elseif card_save %}
            <input type="hidden" name="cc_save" value="1" />
            {% endif %}
        </div>
    </fieldset>
</form>
<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary"/>
    </div>
</div>
<script
    type="text/javascript">
    <!--
    $('input[name=\'cc_from\']').on('change', function() {
	if (this.value == 'new') {
		$('#cc-existing').hide();
		$('#cc-new').show();
	} else {
		$('#cc-existing').show();
		$('#cc-new').hide();
	}
    });
    var token = "{{ cardknox_token_key }}";
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    //script.type = 'text/javascript';
    //script.onload = function () {
        enableLogging();
        setAccount(token, "OpenCart3", "0.1.2");
        var style = {
            'background-image': 'url(http://jquerycreditcardvalidator.com/images/images.png)',
            'background-position': '100px -61px',
            'background-size': '120px 361px',
            'background-repeat': 'no-repeat',
            border: '1px solid #cccccc',
            'font-size': '12px',
            'padding-bottom': '6px',
            'padding-left': '12px',
            'padding-right': '12px',
            'padding-top': '6px',
            width: '100px',
            height: '20px',
            margin: '0px'
        };
        setIfieldStyle('cvv', style);
        var style = {
            'border': '1px solid #cccccc',
            'font-size': '12px',
            'padding-bottom': '6px',
            'padding-left': '54px',
            'padding-right': '12px',
            'padding-top': '6px',
            'width': '155px',
            'height': '20px',
            'margin': '0px',
            'background-image': 'url(http://jquerycreditcardvalidator.com/images/images.png),url(http://jquerycreditcardvalidator.com/images/images.png)',
            'background-position': '2px -121px, 190px -61px',
            'background-size': '120px 361px, 120px 361px',
            'background-repeat': 'no-repeat',
            'filter': 'grayscale(100%)'
        };
        setIfieldStyle('card-number', style);
        addIfieldKeyPressCallback(function(data) {       
            if(data.cardNumberIsValid) {
                var filter = 'grayscale(0%)';
                var end='-87px';
            } else {
                var filter = 'grayscale(100%)';
                var end='-61px';
            }
            switch(data.issuer) {
                case 'visa':
                    var style = {'background-position': '2px -163px, 190px '+end, 'filter': filter};
                    break;
                case 'visa_electron':
                    var style = {'background-position': '2px -205px, 190px '+end, 'filter': filter};
                    break;
                case 'mastercard':
                    var style = {'background-position': '2px -247px, 190px '+end, 'filter': filter};
                    break;
                case 'maestro':
                    var style = {'background-position': '2px -289px, 190px '+end, 'filter': filter};
                    break;
                case 'discover':
                    var style = {'background-position': '2px -331px, 190px '+end, 'filter': filter};
                    break;
                default:
                    var style = {'background-position': '2px -121px, 190px '+end, 'filter': filter};
                    break;
            }
            setIfieldStyle('card-number', style);
            if(data.cvvIsValid) {
                setIfieldStyle('cvv', {'background-position': '100px -87px'});
            } else {
                setIfieldStyle('cvv', {'background-position': '100px -61px'});
            }
        });
        enableAutoFormatting("-");
        
    //}
    //script.src = 'https://cdn.cardknox.com/ifields/2.5.1905.0801/ifields.min.js';
    //head.appendChild(script);
    
    $('#button-confirm').on('click', function () {
        console.log('button click');
        console.log($('input[name=\'cc_from\']:checked').val());
        //event.preventDefault();
        console.log('checking card source');
        if($('input[name=\'cc_from\']:checked').val() == 'existing') {// saved card
            console.log('saved card');
            $.ajax({
                url: 'index.php?route=extension/payment/cardknox/send',
                type: 'post',
                data: $('#payment input[type=\'text\'], #payment input[type=\'hidden\'], #payment input[type=\'checkbox\']:checked, #payment input[type=\'radio\']:checked, #payment select'),
                dataType: 'json',
                cache: false,
                beforeSend: function () {

                    $('#button-confirm').button('loading');
                },
                complete: function () {
                    $('#button-confirm').button('reset');
                },
                success: function (json) {
                    if (json['error']) {
                        alert(json['error']);
                    } else if (json['redirect']) {
                        location = json['redirect'];
                    }
                }
            });
        } else {// new card - get token & save
            console.log('new card');
            getTokens(function () {
                // onSuccess
                var D = new Date();
                if (parseInt($("select[name=cc_expire_date_month]").val()) < D.getMonth()+1 && parseInt($("select[name=cc_expire_date_year]").val()) == D.getFullYear()) {
                    alert("Card is expired!");
                    //event.preventDefault = false;
                    return;
                }
                // perform your own validation here...
                if ($("input[name=xCardNum]").val() === '') {
                    alert("Card number required!");
                    //event.preventDefault = false;
                    return;
                }
                if ($("input[name=xCVV]").val() === '') {
                    alert("CVV rquired!");
                    //event.preventDefault = false;
                    return;
                }
                $.ajax({
                    url: 'index.php?route=extension/payment/cardknox/send',
                    type: 'post',
                    data: $('#payment input[type=\'text\'], #payment input[type=\'hidden\'], #payment input[type=\'checkbox\']:checked, #payment input[type=\'radio\']:checked, #payment select'),
                    dataType: 'json',
                    cache: false,
                    beforeSend: function () {

                        $('#button-confirm').button('loading');
                    },
                    complete: function () {
                        $('#button-confirm').button('reset');
                    },
                    success: function (json) {
                        if (json['error']) {
                            alert(json['error']);
                        } else if (json['redirect']) {
                            location = json['redirect'];
                        }
                    }
                });
            },// end success callback
            function () { // onError
                    $.ajax({
                        url: 'index.php?route=extension/payment/cardknox/error',
                        type: 'post',
                        data: {
                            error: document.getElementById('ifieldsError').textContent
                        },
                        dataType: 'json',
                        cache: false,
                        beforeSend: function () {},
                        success: function (json) {}
                    });

                    alert(document.getElementById('ifieldsError').textContent);
                    //event.preventDefault = false;
                    return;
            },// end error callback
            // 30 second timeout
            30000
            );
        }
    });
    //--></script>
